/* BlogList Component Styles */
.blog-container {
  max-width: 1000px;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blog-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.add-blog-link {
  display: inline-block;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.add-blog-link:hover {
  background-color: #0056b3;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: start; 
}

.blog-item {
  flex: 1 1 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem); /* Prevent extra width for items */
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  padding: 1.1rem;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  background: #fdfdfd;
  text-align: center; 
}

.blog-item-title {
  font-size: 1.6rem;
  color: #333;
}

.blog-item-content {
  font-size: 1.2rem;
  color: #555;
}

